<br><br><br>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h3>Submit an Idea</h3>
        <form [formGroup]="ideaForm" (ngSubmit)="onSubmit()">
            <div formGroupName="ideaData">
                <div class="form-group my-1">
                    <label for="ideaName">Idea Name</label>
                    <input type="text" class="form-control" id="ideaName" formControlName="ideaName">
                    <span *ngIf="ideaForm.get('ideaData.ideaName').hasError('ideaIsForbidden')
                        && ideaForm.get('ideaData.ideaName').touched">
                        <small class="text-danger">This idea is forbidden. </small>
                    </span>
                    <span *ngIf="ideaForm.get('ideaData.ideaName').hasError('required')
                        && ideaForm.get('ideaData.ideaName').touched">
                        <small class="text-danger">Idea name is required. </small>
                    </span>
                    <span *ngIf="!ideaForm.get('ideaData.ideaName').valid 
                        && ideaForm.get('ideaData.ideaName').touched" class="help-block"><small>Please enter a valid
                            idea name!</small></span>
                </div>
                <div class="form-group my-1">
                    <label for="notes">Notes</label>
                    <input type="text" class="form-control" id="notes" formControlName="notes">
                    <span *ngIf="ideaForm.get('ideaData.notes').hasError('notesIsForbidden')
                        && ideaForm.get('ideaData.notes').touched">
                        <small class="text-danger">This note is forbidden. </small>
                    </span>
                    <span *ngIf="!ideaForm.get('ideaData.notes').valid 
                        && ideaForm.get('ideaData.notes').touched" class="help-block"><small>Please enter valid
                            notes!</small></span>
                </div>
                <div class="form-group my-1">
                    <label for="priority">
                        Priority</label>
                    <select class="form-control" id="priority" formControlName="priority">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                </div>
                <div class="my-2" formArrayName="tags">
                    <h6>Tags</h6>
                    <button class="btn btn-outline-primary btn-sm" type="button" (click)="onAddTag()">Add Tag</button>
                    <div class="form-group" *ngFor="let tagControl of getControls(); let i = index">
                        <input type="text" class="form-control my-1" [formControlName]="i">
                    </div>
                </div>
                <button class="btn btn-success my-2" type="submit" [disabled]="!ideaForm.valid">Submit Idea</button>
            </div>
        </form>
    </div>
</div>
<div class="row" *ngIf="isSubmitted">
    <hr>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h3>Idea submitted!</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Idea</th>
                    <th>Notes</th>
                    <th>Priority</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{submittedIdea.ideaName}}</td>
                    <td>{{submittedIdea.notes}}</td>
                    <td>{{submittedIdea.priority}}</td>
                    <td>{{submittedIdea.tags}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
    </div>
</div>
<div class="row" *ngIf="loadedIdeas">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="alert alert-danger" *ngIf="error">
            <h6>An error occurred</h6>
            {{ error }}
        </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h3>Ideas</h3>
        <p *ngIf="isFetching">Loading...</p>
        <p *ngIf="loadedIdeas.length < 1 && !isFetching">No ideas found</p>
        <table *ngIf="loadedIdeas.length >= 1 && !isFetching" class="table table-striped">
            <thead>
                <tr>
                    <th>Idea</th>
                    <th>Notes</th>
                    <th>Priority</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let idea of loadedIdeas">
                    <td>{{idea.ideaName}}</td>
                    <td>{{idea.notes}}</td>
                    <td>{{idea.priority}}</td>
                    <td>{{idea.tags}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mt-3">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <h4>Danger Zone!</h4>
            <button (click)="clearIdeas()" class="btn btn-danger btn-sm my-2"
                [disabled]="loadedIdeas.length == 0">Delete All Ideas</button>
        </div>
    </div>
</div>