<br><br><br>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h3>Submit an Idea</h3>
        <form [formGroup]="ideaForm" (ngSubmit)="onSubmit()">
            <div formGroupName="ideaData">
                <div class="form-group my-1">
                    <label for="ideaName">Idea Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="ideaName"
                        formControlName="ideaName">
                    <span *ngIf="!ideaForm.get('ideaData.ideaName').valid && ideaForm.get('ideaData.ideaName').touched" class="help-block">Please enter an idea name</span>
                </div>
                <div class="form-group my-1">
                    <label for="notes">Notes</label>
                    <input
                        type="text"
                        class="form-control"
                        id="notes"
                        formControlName="notes">
                    <span *ngIf="!ideaForm.get('ideaData.notes').valid && ideaForm.get('ideaData.notes').touched" class="help-block">Please enter notes</span>
                </div>
                <div class="form-group my-1">
                    <label for="priority">
                        Priority</label>
                    <select
                        class="form-control"
                        id="priority"
                        formControlName="priority">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                </div>
                <button class="btn btn-primary my-2" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="row" *ngIf="isSubmitted">
    <hr>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h3>Idea submitted!</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Idea</th>
                    <th>Notes</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{submittedIdea.ideaName}}</td>
                    <td>{{submittedIdea.notes}}</td>
                    <td>{{submittedIdea.priority}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>