<br><br><br>
<div class="container">
    <div class="my-2" *ngIf="this.user">
        <h3 class="my-2">User</h3>
        <a class="btn btn-sm btn-success my-2" [routerLink]="['/users', 2, 'Andy']" style="color:white">Load Andy</a>
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item">Name: {{this.user.name}}</li>
                <li class="list-group-item">ID: {{this.user.id}}</li>
            </ul>
        </div>
    </div>
    <div class="my-2">
        <h3 class="my-2">Users</h3>
        <a 
            class="btn btn-sm btn-primary m-1" 
            [routerLink]="['/users', 1, 'Admin']" 
            style="color:white">Load Admin</a>
        <app-active-users></app-active-users>
        <app-inactive-users></app-inactive-users>
        <p *ngIf="this.userActivated">User activated!</p>
    </div>
</div>